---
layout: blog
category: photos
title: Unveil, Run With The Hunted
location: Kraków
date: 2012-07-16
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8503.jpg
---

<div>
  <% band("Unveil") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8431.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8440.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8445.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8442.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8455.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8446.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8459.jpg", wide: false) %>
  <% end %>

  <% band("Run With The Hunted") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8472.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8489.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8492.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8494.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8496.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8495.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8509.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8474.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8501.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8503.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8507.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/unveil%20run%20with%20the%20hunted/_DSC8498.jpg", wide: false) %>
  <% end %>
</div>
