---
layout: blog
category: photos
title: Light Up, Holy
location: Kraków
date: 2012-07-21
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9204.jpg
---

<div>
  <% band("Light Up") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9203.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9217.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9208.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9212.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9218.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9224.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9226.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9204.jpg", wide: false) %>
  <% end %>

  <% band("Holy") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9248.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/light_up/_DSC9244.jpg", wide: false) %>
  <% end %>
</div>
