---
layout: blog
category: photos
title: Good Lookin Out, Minority
location: Kraków, PL
date: 2013-12-05
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4497-2_zps6002075a.jpg
---

<div>
  <% band("Good Lookin Out") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4495_zps5d36ffbb.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4493_zps109f02fd.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4496-2_zps3fe6d4f5.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4497-2_zps6002075a.jpg", wide: false) %>
  <% end %>

  <% band("Minority") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4502_zps1c244665.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4508_zpsd071a441.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4503_zps4fd81c0f.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4506_zpsa0476e44.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4513_zps418abd49.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/glo_minority/_DSC4507_zpsfc42492c.jpg", wide: false) %>
  <% end %>
</div>
