---
layout: blog
category: photos
title: Regres, Mindset
location: Częstochowa, PL
date: 2013-01-01
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9465_zps575efafb.jpg
---

<div>
  <% band("Regres") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9212_zps3bc81f63.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9451_zps140db3f6.jpg", wide: false) %>
  <% end %>

  <% band("Mindset") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9465_zps575efafb.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9466_zpsd8aeb1f0.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9476_zps3bb7bb7d.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9469_zpsb500fedf.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9471_zps3f552181.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9489_zpsae358c3f.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9472_zps16c38cb2.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9478_zps5bfcf120.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9481_zps7441f884.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9479_zps528a5a57.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9487_zps37a20ef8.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9480_zps0591dd05.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/mindset/_DSC9496_zpsfea47f0d.jpg", wide: false) %>
  <% end %>
</div>
