---
layout: blog
category: photos
title: Vicious X Reality, Watching Me Fall
location: Bielsko-Biała
date: 2014-06-13
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3090_zpse5b95e00.jpg
---

<div>
  <% band("Vicious X Reality") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3077_zpsc828b1e1.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3079_zpsa922e10c.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3085_zps9ec670ef.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3084_zpsc23dd0f8.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3098_zps13f9d53e.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3088_zps08cb187c.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3073_zps405e957a.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3090_zpse5b95e00.jpg", wide: false) %>
  <% end %>

  <% band("Watching Me Fall") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3100_zpsbe4d574b.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3103_zps4e2436d7.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/vxr_wwf/_DSC3110_zpsc708af2b.jpg", wide: false) %>
  <% end %>
</div>
