---
layout: blog
category: photos
title: The Dog, Marksman, W Kilku Słowach, The Lowest
location: Kraków, PL
date: 2014-06-10
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3030_zps59074499.jpg
---

<div>
  <% band("The Dog") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC2991_zpsca2c3408.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC2994_zps19251851.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC2995_zps8c47638b.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3000_zpsaf78e64b.jpg", wide: false) %>
  <% end %>

  <% band("Marksman") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3003_zps9da6a1b9.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3010_zps9245197a.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3006_zps13049306.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3005_zps4895d9ba.jpg", wide: false) %>
  <% end %>

  <% band("W Kilku Słowach") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3016_zps34e4cbd8.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3018_zps262f12f0.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3019_zps00f87dec.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3023_zpsd45ddecd.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3027_zpsb015e00c.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3036_zps40abd4ff.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3028_zps36b2d25a.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3025_zpsbb7752de.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3030_zps59074499.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3022_zpsf05774ba.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3031_zpsdea1ae16.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3037_zpsb1ff0005.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3033_zps31cd57e6.jpg", wide: false) %>
  <% end %>

  <% band("The Lowest") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3039_zps70ae8f21.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3040_zps23039992.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3047_zps4737272a.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3051_zps082de434.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3059_zpsc04d2f30.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3055_zpsa89dc742.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3056_zps458bf547.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3050_zpsf9e1fecc.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3057_zps93f060c0.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3045_zps7a48aede.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3058_zpse4c96ba8.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/habafest2014/_DSC3054_zps367845ba.jpg", wide: false) %>
  <% end %>
</div>
