---
title: "Eye For An Eye Final Show"
layout: "blog"
city: "Bielsko-Biała"
date: 2015-11-21
thumb: "http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6088_zpsubbtqou9.jpg"
---

<div>
  <% band("Eye for an Eye") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5961-2_zpsp4nlyvrz.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5960_zpsmnrqtg7f.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5963_zpso20icols.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5967_zpscekpcmnk.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5965_zpsvqqgpbfm.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5968_zpsfmlcyp2h.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5977_zpsrsvmsmj0.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5972_zpst2kwckqs.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5975_zpsfx13j3qi.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5978_zpsblpphibz.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5981_zpsmn0xiggr.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5980_zpskflujgcy.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5986_zpsj2ompcfc.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5987_zpsvrkzfbzv.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5988_zpsgtaozlgx.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5991_zpsny3nn44l.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC5992_zpsa8htuiat.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6001_zpsmicn6xro.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6006_zpsntp5ughv.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6009_zps5vxbxqsy.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6011_zpspxfoukf2.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6017_zpscpvlhan8.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6015_zpsabkfpca1.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6018_zps5dtnb6pu.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6026_zpsfbh0d7uh.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6019_zps12ft5qbr.jpg", wide: false) %>
    <%= photo_from_url("https://drive.google.com/uc?export=view&id=0B7H42ILAyLW6SjRRM0hmeXIzX3M", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6021_zpsydcrlyri.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6022_zpsukys9cwb.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6032_zps8kuyock6.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6034_zpsgenega8l.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6036_zpssyok4xui.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6030_zpsxo0wmpuq.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6021_zpsydcrlyri.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6037-2_zpsxujrx92k.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6039_zpsccpnbcvs.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6040_zps9kueq7jx.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6088_zpsubbtqou9.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6043_zps7s5hhwhg.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6027_zpstefkvllh.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6044_zpsbedx8cml.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6050_zpsybgi0jhz.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6055_zps5x5wqn02.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6056_zpsos8blyf9.jpg", wide: false) %>
    <%= photo_from_url("https://drive.google.com/uc?export=view&id=0B7H42ILAyLW6eDNxNUVYZjFpOG8", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6064-2_zpsbq795y8j.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6086-3_zpscdteytqd.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/efae-final/_DSC6074_zpsvxmjgzg8.jpg", wide: false) %>
  <% end %>
</div>
