---
layout: post
category: photos
title: Bright Light, Vicious X Reality, Heatseeker
location: Kraków
date: 2015-02-22
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4677-2_zpsfd91f4df.jpg
---

<div>
  <% band("Bright Light") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4639_zps0d80a652.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4648_zps49006839.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4665_zpsbe00687c.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4652_zpsaef124ba.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4649_zps2eef94af.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4654_zps429f83ae.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4650_zps3ea0f153.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4655-2_zps5a420a7d.jpg", wide: false) %>
  <% end %>

  <% band("Vicious X Reality") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4687_zps18c2f307.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4668_zpsd251f6d3.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4669_zpsd658cfd3.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4673_zps3f76907b.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4677-2_zpsfd91f4df.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4676_zps02753ca9.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4679_zps13fc2f86.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4678_zps504ef72e.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4681_zpsa9b9811e.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4682-2_zpsa0893605.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4671_zps640671d1.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4686_zps04199238.jpg", wide: false) %>
  <% end %>

  <% band("Heatseeker") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4688_zps3151c020.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4689_zpse5802d0c.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4690_zps21561d8f.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4694-3_zpsf200162d.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4696_zpse1441cd6.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4695_zps071f6140.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4697_zps0f0a87cb.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4698-2_zps90871728.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/bl%20vxr%20heatseeker/_DSC4699_zpsafa3a8a5.jpg", wide: false) %>
  <% end %>
</div>
