---
layout: post
category: photos
title: Burning Sky, Castet, Spirits
location: Kraków
date: 2015-05-04
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5082_zpskciehtf0.jpg
---

<div>
  <% band("Burning Sky") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5080_zpszr5qelcq.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5082_zpskciehtf0.jpg", wide: false) %>
  <% end %>

  <% band("Castet") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5086_zpspvx7vlgt.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5083_zpsseitn1dp.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5088_zpst3upym9s.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5089_zps29uga2mw.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5093_zpsu2vdif21.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5099-2_zpshlwoivb1.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5107_zpsyfpfmd8h.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5096-2_zpsimtrcoq6.jpg~original", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5108-2_zpsdjflnptq.jpg", wide: false) %>
  <% end %>

  <% band("Spirits") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5109_zpshy8iow9k.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5113_zpswmwoi4rk.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5117_zpsytbkazxj.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5120_zpsceam8mzd.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5118_zpscqo992bx.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5122-2_zps3dyfbiwn.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5123-3_zpswihue8a8.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5111-2_zpsvwrot7oq.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5115_zpsnmi8ugcn.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5127_zpstqym7v3s.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5134_zpszaeweaza.jpg~original", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5129_zpsawspt5ka.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5136_zpspewgvxr4.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5140_zpsyfpjc6dy.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5112_zps0jnomr55.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5110_zps8pcgjamd.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/kanciapa_spirits/_DSC5142_zpshvyw03rc.jpg", wide: false) %>
  <% end %>
</div>
