---
layout: blog
category: photos
title: Trial
location: Kraków
date: 2015-08-02
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/Trial%202015/_DSC5394_zpsscppxvpn.jpg
---

<div>
  <% band("Trial") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/Trial%202015/_DSC5388_zps9l77dn2i.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/Trial%202015/_DSC5393-2_zps11xj73cf.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/Trial%202015/_DSC5389_zpspo7esc5q.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/Trial%202015/_DSC5387_zps3xinhd0s.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/Trial%202015/_DSC5395_zpsajbxbdni.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/Trial%202015/_DSC5394_zpsscppxvpn.jpg", wide: false) %>
  <% end %>
</div>
