---
layout: blog
category: photos
title: Regres, Bane
location: Częstochowa, PL
date: 2015-11-19
thumb: http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5931-2_zpsqrbvqdii.jpg
---

<div>
  <% band("Regres") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5897_zpsipzsfv4b.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5898_zpst3jkpiye.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5907_zpsmwpxxo3s.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5899_zpsnzbqk95p.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5909_zps8wrch3zc.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5911_zpsw2yxhfa5.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5913_zpsukti8zj1.jpg", wide: false) %>
    <%= photo_from_url("https://drive.google.com/uc?export=view&id=0B7H42ILAyLW6OWNVX2g1OGZySU0", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5914_zpsloy3fqhn.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5917_zps4smeyiyk.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5912_zpsbzjwq2dv.jpg", wide: false) %>
  <% end %>

  <% band("Bane") do %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5931-2_zpsqrbvqdii.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5920_zpsusabnpfe.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5921_zps3oxn14hl.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5925_zpsnwglo2nu.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5927_zpssxrfafaa.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5932_zpsnczy2ie7.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5934_zpsyx5mo1l9.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5930_zpsjh1kapsi.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5935_zpsaf1y7zwk.jpg", wide: false) %>
    <%= photo_from_url("https://drive.google.com/uc?export=view&id=0B7H42ILAyLW6bUhQSmdvbXNjSnM", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5938_zpsrinooes1.jpg", wide: false) %>
    <%= photo_from_url("https://drive.google.com/uc?export=view&id=0B7H42ILAyLW6VTdwXzlGMmlCVEE", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5939_zpsrrd6zkqn.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5940_zpsunzdswho.jpg", wide: false) %>
    <%= photo_from_url("https://drive.google.com/uc?export=view&id=0B7H42ILAyLW6c0o1UEZKcmowVnM", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5943_zpsprbn9srl.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5949-2_zpsolowfzed.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5941_zps3eudqz4b.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5947_zpsay8tjiqm.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5950_zps6pqqprnt.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5953_zpsdk0fvmll.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5955_zpsds7aqroq.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5956_zpsem8lk17h.jpg", wide: false) %>
    <%= photo_from_url("http://i1189.photobucket.com/albums/z423/strongxmind/regres-bane/_DSC5945_zpszgx90a2i.jpg", wide: false) %>
  <% end %>
</div>
