---
title: "Domain, Vicious Irene, True Vision, Insist"
layout: "blog"
city: "Kraków"
date: 2016-08-24
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/24.08.2016.domain.true.vision.insist/IMG_2262.jpg"
---

<div>
  <% band('Domain') do %>
    <%= photo('IMG_2195', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2192', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2197', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2200', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2203', '24.08.2016.domain.true.vision.insist', wide: true) %>
  <% end %>

  <% band('Vicious Irene') do %>
    <%= photo('IMG_2209', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2212', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2211', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2225', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2215', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2228', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2229', '24.08.2016.domain.true.vision.insist', wide: true) %>
  <% end %>

  <% band('True Vision') do %>
    <%= photo('IMG_2232', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2238', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2237', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2243', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2244', '24.08.2016.domain.true.vision.insist', wide: true) %>
  <% end %>

  <% band('Insist') do %>
    <%= photo('IMG_2245', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2267', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2247', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2255', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2251', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2256', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2252', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2254', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2260', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2266', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2262', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2270', '24.08.2016.domain.true.vision.insist', wide: true) %>
    <%= photo('IMG_2268', '24.08.2016.domain.true.vision.insist', wide: true) %>
  <% end %>
</div>
