---
title: "Fertile Hump, The Stubs"
layout: "blog"
city: "Kraków"
date: 2016-04-23
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/23.04.2016.fertile.hump.the.stubs/IMG_1395.jpg"
---

<div>
  <% band("Fertile Hump") do %>
    <%= photo('IMG_1348', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1362', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1363', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1355', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1366', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1378', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1370', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1358', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1371', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1374', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1372', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1376', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1354', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
  <% end %>

  <% band("The Stubs") do %>
    <%= photo('IMG_1394', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1396', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1395', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1405', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1397', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1406', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1415', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1418', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1419', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1420', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1435', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1423', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1442', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1445', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1450', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1447', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1453', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1458', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1460', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1440', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
    <%= photo('IMG_1462', '23.04.2016.fertile.hump.the.stubs', wide: true) %>
  <% end %>
</div>
