---
title: "Viva Belgrado, Shame"
layout: "blog"
city: "Kraków"
date: 2016-04-15
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/15.04.2016.viva.belgrado.shame/thumb.jpg"
---

<div>
  <% band("Viva Belgrado") do %>
    <%= photo('IMG_1203', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1210', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1215', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1242', '15.04.2016.viva.belgrado.shame', wide: true) %>
  <% end %>

  <% band("Shame") do %>
    <%= photo('IMG_1252', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1310', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1248', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1255', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1256', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1262', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1266', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1271', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1281', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1267', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1283', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1286', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1276', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1287', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1304', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1308', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1298', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1269', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1288', '15.04.2016.viva.belgrado.shame', wide: true) %>
    <%= photo('IMG_1300', '15.04.2016.viva.belgrado.shame', wide: true) %>
  <% end %>
</div>
