---
title: "Limp Blitzkrieg, Spirits"
layout: "blog"
city: "Kraków"
date: 2016-07-25
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/25.07.2016.limp.blitzkrieg.spirits/IMG_1874.jpg"
---

<div>
  <% band("Limp Blitzkrieg") do %>
    <%= photo('IMG_1866', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1843', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1844', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1845', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1850', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1847', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1853', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1842', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
  <% end %>

  <% band("SPIRITS") do %>
    <%= photo('IMG_1868', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1885', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1872', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1887', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1870', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1869', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1882', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1875', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1888', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1879', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1889', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
    <%= photo('IMG_1874', '25.07.2016.limp.blitzkrieg.spirits', wide: true) %>
  <% end %>
</div>
