---
title: "What's Left of the Sun, Escapism"
layout: "blog"
city: "Kraków"
date: 2016-08-19
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/19.08.2016.whats.left.of.the.sun.escapism/IMG_2162-3.jpg"
---

<div>
  <% band("What's Left of the Sun") do %>
    <%= photo('IMG_2126', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2125', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2136', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2141', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2127', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2140', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2143', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2142-2', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
  <% end %>

  <% band('Escapism') do %>
    <%= photo('IMG_2162-3', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2180', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2154', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2169', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2156', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2155', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2161', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2170-2', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2165', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2181', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2182', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2186', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2183', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2185', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
    <%= photo('IMG_2163', '19.08.2016.whats.left.of.the.sun.escapism', wide: true) %>
  <% end %>
</div>
