---
title: "Vicious X Reality"
layout: "blog"
city: "Bielsko-Biała"
date: 2017-03-11
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/11.03.2017.viciousxreality/IMG_2718.jpg"
---

<div>
  <% band('Vicious X Reality') do %>
    <%= photo('IMG_2718', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2737', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2727', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2725', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2733', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2730', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2728', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2731', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2738', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2734', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2740', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2726', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2742', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2743', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2747', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2749', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('nike', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2750', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2724', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2751', '11.03.2017.viciousxreality', wide: true) %>
    <%= photo('IMG_2756', '11.03.2017.viciousxreality', wide: true) %>
  <% end %>
</div>
