---
title: "PROTEIN"
layout: "blog"
city: "Kraków"
date: 2017-11-02
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/02.11.2017.protein/IMG_3603.jpg"
---

<div>
  <% band('PROTEIN') do %>
    <%= photo('IMG_3598', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3599', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3600', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3601', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3606', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3602', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3608', '02.11.2017.protein', wide: true) %>
    <%= photo('IMG_3604', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3605', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3614', '02.11.2017.protein', wide: true) %>
    <%= photo('IMG_3616', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3617', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3619', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3618', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3620', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3623', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3621', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3622', '02.11.2017.protein', wide: false) %>
    <%= photo('IMG_3603', '02.11.2017.protein', wide: false) %>
  <% end %>
</div>
