---
title: "NOTZ, Foresight, Protein, Dregs, Odd Man Out"
layout: "blog"
city: "Kraków"
date: 2018-06-30
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/30.06.2018.odd.man.out/IMG_4547.jpg"
---

<div>
  <% band('NOTZ') do %>
    <%= photo('IMG_4515', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4516', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4517', '30.06.2018.odd.man.out', wide: true) %>
  <% end %>

  <% band('Foresight') do %>
    <%= photo('IMG_4527', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4537', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4531', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4528', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4534', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4530', '30.06.2018.odd.man.out', wide: false) %>
  <% end %>

  <% band('Protein') do %>
    <%= photo('IMG_4547', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4551', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4544', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4550', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4566', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4549', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4555', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4553', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4554', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4556', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4568', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4557', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4559', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4558', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4561', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4565', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4563', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4571', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4567', '30.06.2018.odd.man.out', wide: false) %>
  <% end %>

  <% band('Dregs') do %>
    <%= photo('IMG_4572', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4573', '30.06.2018.odd.man.out', wide: true) %>
  <% end %>

  <% band('Odd Man Out') do %>
    <%= photo('IMG_4590', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4607', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4599', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4591', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4616', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4597', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4600', '30.06.2018.odd.man.out', wide: false) %>
    <%= photo('IMG_4594', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4602', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4605', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4608', '30.06.2018.odd.man.out', wide: true) %>
    <%= photo('IMG_4617', '30.06.2018.odd.man.out', wide: true) %>
  <% end %>
</div>
