---
title: "Y2Y Weekender: Protein / Embitter / Foresight / Incriminate"
layout: blog
city: Kraków
date: 2018-11-15
thumb: https://keepthismoment.s3.amazonaws.com/15.11.2018.y2y.weekender/IMG_4829.jpg
---

<div>
    <% band('Foresight') do %>
      <%= photo('IMG_4787', '15.11.2018.y2y.weekender', wide: true) %>

      <% gallery(wide: true) do %>
        <%= photo('IMG_4789', '15.11.2018.y2y.weekender') %>
        <%= photo('IMG_4800', '15.11.2018.y2y.weekender') %>
      <% end %>

      <%= photo('IMG_4803', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4808', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4809', '15.11.2018.y2y.weekender', wide: true) %>
    <% end %>

    <% band('Incriminate') do %>
      <%= photo('IMG_4815', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4820', '15.11.2018.y2y.weekender', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_4816', '15.11.2018.y2y.weekender') %>
        <%= photo('IMG_4818', '15.11.2018.y2y.weekender') %>
      <% end %>
      <%= photo('IMG_4821', '15.11.2018.y2y.weekender', wide: true) %>
    <% end %>

    <% band('Protein') do %>
      <%= photo('IMG_4827', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4828', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4829', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4830', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4867', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4832', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4835', '15.11.2018.y2y.weekender', wide: true) %>

      <% gallery(wide: true) do %>
        <%= photo('IMG_4836', '15.11.2018.y2y.weekender') %>
        <%= photo('IMG_4837', '15.11.2018.y2y.weekender') %>
      <% end %>

      <%= photo('IMG_4838', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4839', '15.11.2018.y2y.weekender', wide: true) %>

      <% gallery(wide: true) do %>
        <%= photo('dawid.gif', '15.11.2018.y2y.weekender') %>
        <%= photo('IMG_4847', '15.11.2018.y2y.weekender') %>
      <% end %>

      <%= photo('IMG_4859', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4848', '15.11.2018.y2y.weekender', wide: true) %>

      <% gallery(wide: true) do %>
        <%= photo('IMG_4857', '15.11.2018.y2y.weekender') %>
        <%= photo('IMG_4858', '15.11.2018.y2y.weekender') %>
      <% end %>

      <%= photo('IMG_4854', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4860', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4863', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4866', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4861', '15.11.2018.y2y.weekender', wide: true) %>
    <% end %>

    <% band('Embitter') do %>
      <%= photo('IMG_4873', '15.11.2018.y2y.weekender', wide: true) %>

      <% gallery(wide: true) do %>
        <%= photo('IMG_4879', '15.11.2018.y2y.weekender') %>
        <%= photo('IMG_4885', '15.11.2018.y2y.weekender') %>
      <% end %>

      <%= photo('IMG_4884', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4877', '15.11.2018.y2y.weekender', wide: true) %>
      <%= photo('IMG_4882', '15.11.2018.y2y.weekender', wide: true) %>
    <% end %>
  </div>
</div>
