---
title: "Vicious X Reality, Regres"
layout: "blog"
city: "Kraków"
date: 2018-04-15
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/15.04.2018.viciousxreality.regres/IMG_4131.jpg"
---

<div>
  <% band('Vicious X Reality') do %>
    <%= photo('IMG_4106', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4119', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4108', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4113', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4115', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4116', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4117', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4121', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4122', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4125', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4129', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4128', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4130', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4132', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4131', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4133', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4126', '15.04.2018.viciousxreality.regres', wide: false) %>
  <% end %>

  <% band('Regres') do %>
    <%= photo('IMG_4139', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4136', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4135', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4140', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4141', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4144', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4145', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4146', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4158', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4147', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4149', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4150', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4155', '15.04.2018.viciousxreality.regres', wide: true) %>
    <%= photo('IMG_4160', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4153', '15.04.2018.viciousxreality.regres', wide: false) %>
    <%= photo('IMG_4159', '15.04.2018.viciousxreality.regres', wide: true) %>
  <% end %>
</div>
