---
title: "Wide Smiles #6"
layout: "blog"
city: "Kraków"
date: 2018-09-06
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/06.08.2018.wide.smiles.6/thumb.jpg"
---

<div>
  <% band('Give Today') do %>
    <%= photo('IMG_4647', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4648', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4651', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4659', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4661', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4665', '06.08.2018.wide.smiles.6', wide: true) %>
  <% end %>

  <% band('Insist') do %>
    <%= photo('IMG_4701', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4685', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4702', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4695', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4710', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4694', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4717', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4703', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4681', '06.08.2018.wide.smiles.6', wide: true) %>
  <% end %>

  <% band('Abuse of Power') do %>
    <%= photo('IMG_4726', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4760', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4729', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4753', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4738', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4732', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4741', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4745', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4767', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4749', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4768', '06.08.2018.wide.smiles.6', wide: true) %>
    <%= photo('IMG_4739', '06.08.2018.wide.smiles.6', wide: true) %>
  <% end %>
</div>
