---
title: "The Lowest"
layout: "blog"
city: "Kraków"
date: 2018-03-24
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/24.03.2018.the.lowest/IMG_4085.jpg"
---

<div>
  <% band('The Lowest') do %>
    <%= photo('IMG_4075', '24.03.2018.the.lowest', wide: false) %>
    <%= photo('IMG_4080', '24.03.2018.the.lowest', wide: false) %>
    <%= photo('IMG_4078', '24.03.2018.the.lowest', wide: false) %>
    <%= photo('IMG_4077', '24.03.2018.the.lowest', wide: true) %>
    <%= photo('IMG_4076', '24.03.2018.the.lowest', wide: true) %>
    <%= photo('IMG_4079', '24.03.2018.the.lowest', wide: true) %>
    <%= photo('IMG_4082', '24.03.2018.the.lowest', wide: true) %>
    <%= photo('IMG_4083', '24.03.2018.the.lowest', wide: true) %>
    <%= photo('IMG_4085', '24.03.2018.the.lowest', wide: false) %>
  <% end %>
</div>
