---
title: "Wide Smiles #10"
layout: "blog"
city: "Kraków"
date: 2019-07-22
thumb: "https://s3.eu-central-1.amazonaws.com/keepthismoment/22.07.2019.wide.smiles.10/IMG_5146.jpg"
---

<div>
  <% band('Bright Light') do %>
    <%= photo('IMG_5020', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5034', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5044', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5038', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5045', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5039', '22.07.2019.wide.smiles.10', wide: true) %>
  <% end %>

  <% band('Protein') do %>
    <%= photo('IMG_5050', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5052', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5074', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5063', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5075', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5068', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5071', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5082', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5072', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5083', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5084', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5085', '22.07.2019.wide.smiles.10', wide: true) %>
  <% end %>

  <% band('Time & Distance') do %>
    <%= photo('IMG_5094', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5096', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5100', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5102', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5104', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5111', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5115', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5119', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5121', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5125', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5126', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5129', '22.07.2019.wide.smiles.10', wide: true) %>
    <%= photo('IMG_5128', '22.07.2019.wide.smiles.10', wide: true) %>
  <% end %>
</div>
