---
title: "Wide Smiles #11"
layout: "blog"
city: "Częstochowa"
date: 2020-02-07
thumb: "https://keepthismoment.s3.amazonaws.com/2020.02.07.wide.smiles.11/IMG_5312.jpg"
---

<div>
    <% band('Protein') do %>
      <%= photo('IMG_5193', '2020.02.07.wide.smiles.11', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5187', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5201', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5190', '2020.02.07.wide.smiles.11', wide: true) %>
      <%= photo('IMG_5191', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5195', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5189', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5194', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5212', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5214', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5210', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5218', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5192', '2020.02.07.wide.smiles.11') %>
      <% end %>
    <% end %>

    <% band('Vicious X Reality') do %>
      <%= photo('IMG_5232', '2020.02.07.wide.smiles.11', wide: true) %>
      <%= photo('IMG_5230', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5234', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5235', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5236', '2020.02.07.wide.smiles.11') %>
      <%= photo('IMG_5237', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5233', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5242', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5239', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5238', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5243', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5228', '2020.02.07.wide.smiles.11', wide: true) %>
    <% end %>

    <% band('Heatseeker') do %>
      <%= photo('IMG_5259', '2020.02.07.wide.smiles.11', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5252', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5254', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5253', '2020.02.07.wide.smiles.11', wide: true) %>
      <%= photo('IMG_5255', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5263', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5258', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5260', '2020.02.07.wide.smiles.11', wide: true) %>
      <%= photo('IMG_5257', '2020.02.07.wide.smiles.11') %>
      <%= photo('IMG_5265', '2020.02.07.wide.smiles.11', wide: true) %>
    <% end %>

    <% band('Change') do %>
      <%= photo('IMG_5280', '2020.02.07.wide.smiles.11', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5269', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5276', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5274', '2020.02.07.wide.smiles.11', wide: true) %>
      <%= photo('IMG_5275', '2020.02.07.wide.smiles.11') %>
      <%= photo('IMG_5277', '2020.02.07.wide.smiles.11', wide: true) %>
      <%= photo('IMG_5287', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5270', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5279', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5286', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5290', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5281', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5292', '2020.02.07.wide.smiles.11') %>
      <%= photo('IMG_5293', '2020.02.07.wide.smiles.11', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5310', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5295', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5314', '2020.02.07.wide.smiles.11', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5298', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5297', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5311', '2020.02.07.wide.smiles.11') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5271', '2020.02.07.wide.smiles.11') %>
        <%= photo('IMG_5313', '2020.02.07.wide.smiles.11') %>
      <% end %>
      <%= photo('IMG_5312', '2020.02.07.wide.smiles.11', wide: true) %>
    <% end %>

    <% band('Group shots') do %>
      <%= photo('IMG_5321', '2020.02.07.wide.smiles.11', wide: true) %>
      <%= photo('IMG_5323-s', '2020.02.07.wide.smiles.11', wide: true) %>
    <% end %>
  </div>
</div>
