---
title: "Wide Smiles #11"
layout: blog
city: Częstochowa
date: 2020-02-07
thumb: "https://keepthismoment.s3.amazonaws.com/2020.02.07.wide.smiles.11/IMG_5312.jpg"
---

<div>
    <% band('Protein') do %>
      <%= photo('IMG_5193', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5187') %>
        <%= photo('IMG_5201') %>
      <% end %>
      <%= photo('IMG_5190', wide: true) %>
      <%= photo('IMG_5191') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5195') %>
        <%= photo('IMG_5189') %>
      <% end %>
      <%= photo('IMG_5194') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5212') %>
        <%= photo('IMG_5214') %>
      <% end %>
      <%= photo('IMG_5210') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5218') %>
        <%= photo('IMG_5192') %>
      <% end %>
    <% end %>

    <% band('Vicious X Reality') do %>
      <%= photo('IMG_5232', wide: true) %>
      <%= photo('IMG_5230') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5234') %>
        <%= photo('IMG_5235') %>
      <% end %>
      <%= photo('IMG_5236') %>
      <%= photo('IMG_5237') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5233') %>
        <%= photo('IMG_5242') %>
      <% end %>
      <%= photo('IMG_5239') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5238') %>
        <%= photo('IMG_5243') %>
      <% end %>
      <%= photo('IMG_5228', wide: true) %>
    <% end %>

    <% band('Heatseeker') do %>
      <%= photo('IMG_5259', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5252') %>
        <%= photo('IMG_5254') %>
      <% end %>
      <%= photo('IMG_5253', wide: true) %>
      <%= photo('IMG_5255') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5263') %>
        <%= photo('IMG_5258') %>
      <% end %>
      <%= photo('IMG_5260', wide: true) %>
      <%= photo('IMG_5257') %>
      <%= photo('IMG_5265', wide: true) %>
    <% end %>

    <% band('Change') do %>
      <%= photo('IMG_5280', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5269') %>
        <%= photo('IMG_5276') %>
      <% end %>
      <%= photo('IMG_5274', wide: true) %>
      <%= photo('IMG_5275') %>
      <%= photo('IMG_5277', wide: true) %>
      <%= photo('IMG_5287') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5270') %>
        <%= photo('IMG_5279') %>
      <% end %>
      <%= photo('IMG_5286') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5290') %>
        <%= photo('IMG_5281') %>
      <% end %>
      <%= photo('IMG_5292') %>
      <%= photo('IMG_5293', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5310') %>
        <%= photo('IMG_5295') %>
      <% end %>
      <%= photo('IMG_5314', wide: true) %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5298') %>
        <%= photo('IMG_5297') %>
      <% end %>
      <%= photo('IMG_5311') %>
      <% gallery(wide: true) do %>
        <%= photo('IMG_5271') %>
        <%= photo('IMG_5313') %>
      <% end %>
      <%= photo('IMG_5312', wide: true) %>
    <% end %>

    <% band('Group shots') do %>
      <%= photo('IMG_5321', wide: true) %>
      <%= photo('IMG_5323-s', wide: true) %>
    <% end %>
  </div>
</div>
